p{
    font-size: 20px;
    color: lightgreen;
}
 
p:hover{
    background: lightgoldenrodyellow;
}

.standout
{
    color: lightskyblue;
}

h2.standout
{
    color: khaki;
}

.image1{
    border-radius: 50%;
}

.image2{
    border-radius: 30px;
}

.image3{
    opacity: 0.8;
}

.image4{
    filter: grayscale(70%);
}

.image5{
    filter: blur(5px);
}